extends ../layout/index
block contenido
   main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen de nosotros", class="img-fluid")
            .col-md-7
                h2 #{pagina}
                blockquote Maecenas nunc metus, blandit in dui vitae, consectetur vulputate lectus. Donec non venenatis tellus. Quisque vel dignissim libero. In dignissim nibh urna, pharetra pretium nulla varius sed. Fusce tincidunt odio sed pretium rhoncus. Sed et augue et lorem rhoncus pharetra. Vivamus sed fermentum odio. Nulla quis ante tellus. Curabitur in ultricies nulla, eu gravida augue.
                p Aenean non metus iaculis, maximus arcu vel, imperdiet felis. Etiam ut urna faucibus, congue ipsum sit amet, efficitur sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In arcu risus, tempus in felis a, molestie varius mauris. Fusce elementum, erat ac congue finibus, nunc eros congue massa, at aliquet velit quam eget velit. Nulla suscipit pellentesque quam, vitae semper mauris mollis non. 
                p Integer et tellus non turpis scelerisque lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a urna at nulla euismod convallis.
        .listado-iconos
            .conatiner.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Nunc semper convallis dolor. Aenean sit amet risus mi. Duis et suscipit leo, sed euismod risus. Sed imperdiet quis augue non consectetur
                    .col-md-4
                        img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                        h2.mb-4 Mejores destinos
                        p Nunc semper convallis dolor. Aenean sit amet risus mi. Duis et suscipit leo, sed euismod risus. Sed imperdiet quis augue non consectetur
                    .col-md-4
                        img(src="img/icono_precios.svg", class="img-fluid mb-4")
                        h2.mb-4 Precio
                        p Nunc semper convallis dolor. Aenean sit amet risus mi. Duis et suscipit leo, sed euismod risus. Sed imperdiet quis augue non consectetur
                        